@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Roboto:wght@200&display=swap');

/*---------------------------------------------------- Header / Nav Bar -----------------------------------*/

header {
    background-color: rgb(130, 0, 0);
    min-width: 100%;
}
  
  .navbar a {
    float: left;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 25%; 
    text-align: center;
    text-decoration: none;
}
  
  .navbar a:hover {
    color: green;
    text-decoration: underline green solid;
}

/*---------------------------------------------------- Hero Image ----------------------------------------*/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sennahero.jpg"); 
    min-height: 350px;
    background-position: right;
    background-color: #000000; 
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40vh;
    width: 100%;
}

/*---------------------------------------------------- Hero Caption --------------------------------------*/

.hero-caption {
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 100%;
}

.hero-caption > h1 {
    font-size: 500%;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.hero-caption > p {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
}